/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Make lists in jumbotron the same font size as the rest of the text */
.jumbotron li {
  font-size: 21px;
  font-weight: 200;
}
