<div class="container">
  <article>
    <header class="page-header">
      <h1>{{ product.name }} <small>by
        <a href="#/companies/{{ product.company.id }}">{{ product.company.name }}</a>
      </small></h1>
    </header>

    <p>{{ product.description }}</p>

    <footer class="pull-right">
      <small><a href="#/products/{{ product.id }}/edit" class="btn btn-default btn-sm  qa-edit-button">Edit product</a>
      <button class="btn btn-danger btn-sm  qa-delete-button" ng-click="deleteProduct(product)">Delete product</button></small>
    </footer>
  </article>
</div>
