<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">
  <title>Feedback App</title>
  <link rel="stylesheet" href="assets/styles/bootstrap.css">
</head>
<body>
  <h1>Howdy</h1>

  <!-- vendor -->
  <script src="assets/javascript/vendor/jquery-2.1.4.min.js"></script>
  <script src="assets/javascript/vendor/angular.js"></script>
  <script src="assets/javascript/vendor/angular-route.js"></script>
  <script src="assets/javascript/vendor/angular-resource.js"></script>
  <script src="assets/javascript/vendor/bootstrap.min.js"></script>
</body>
</html>
