<div class="jumbotron">
  <div class="container">
    <h1>Simple Angular Example App</h1>
    <p>This example Angular app was hacked together in a few short coding sessions over the course of a few days and is likely still not done.</p>
    <p>In the final version of this app, the user should be able to:</p>
    <ol>
      <li>View a list of products/businesses</li>
      <li>Comment on said products/businesses</li>
      <li>Mark comments as helpful/unhelpful</li>
    </ol>
    <p>Enough talk. Let's see it go.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4" ng-repeat="product in products | limitTo:3">
      <product-listing></product-listing>
    </div>
  </div>
</div>
